.website {
  display: flex;
  flex-direction: column !important;
  width: 100%;
}

/* ───────────── GENERAL ───────────── */
body {
  min-width: 320px;
  font-family: 'JetBrains Mono', sans-serif;
}

/* ───────────── GENERAL HEADER ───────────── */
div.header {
  background-color: #363840ce;
  backdrop-filter: blur(4px);
  box-shadow: 0px 20px 50px #243035;

  width: 100%;

  z-index: 1000;
  transition: top 0.3s;
  position: fixed;
}

/* ───────────── HEADER TITLE ───────────── */
div.headerTitle {
  display: flex;
  align-items: center;
  flex-direction: row;
  height: 5em;
  padding-left: 20%;
  padding-right: 7%;
}

h1.headerTitle {
  color: antiquewhite;
  font-size: 2.5em;
}

h1.headerSubtitle {
  color: #aaebd7;
  font-size: 2em;
  margin-left: 1em;
  margin-top: 2rem;
}

.buttonsInHeader {
  margin-left: auto;
  margin-top: 1.5rem;
  
  display: flex;
  gap: 30px;
}

.buttonsInHeader a {
  color: #aaebd7;
  text-decoration: none;
  font-weight: bold;
}

.buttonsInHeader a:hover {
  color: #0f0;
  text-decoration: underline;
}


/* ───────────── TEXT STYLES ───────────── */
b, th, h1 , h2, h3 {
  color: #ece7e7;
  font-weight: bold;
}

p, td {
  color: #a2cab7;
  font-size: 1.15em;
}

commandTitle {
  display: block;
  text-align: center;
  
  color: #ffffff;
  font-size: 2em;
  font-weight: bold;
  text-transform: uppercase;
}

codeBlock {
  display: block;
  background-color: #f5f5f568; 
  color: #333;
  padding: 1em;
  padding-top: 1.5em;
  margin: 1em 0;
  border-radius: 6px;
  font-family: 'Courier New', Courier, monospace;
  font-size: 0.95em;
  white-space: pre;
  overflow-x: auto;
  position: relative;
}

codeBlock::before {
  content: 'bash';
  position: absolute;
  top: 0;
  left: 0;
  color: #444;
  padding: 0.5em;
  font-size: 0.65em;
  border-bottom-left-radius: 6px;
  font-family: sans-serif;
}

code {
  background-color: #0000002f;
  padding: 0.2em 0.4em 0.2em 0.4em;
  border-radius: 5px;
}

ul {
  margin: 1em 0;
  padding-left: 2em;
  list-style-type: disc;
  color: antiquewhite;
  font-weight: 300;
  line-height: 1.6;
}

li {
  margin-bottom: 0.5em;
}

ul ul {
  list-style-type: circle;
  margin-top: 0.5em;
}

ul ul ul {
  list-style-type: square;
}

/* ───────────── ICONS / IMAGES ───────────── */
.carouselContainer {
  width: 200%;
  max-width: 800px;
  margin-right: 7%;
  margin-top: 3%;
}

.carouselImage {
  max-width: 800px;
  border-radius: 20px;
  pointer-events: none;
}

.slick-slider {
  max-height: 400px;
}

.icon {
  height: 50px;
  margin-left: 1em;
  margin-right: 1em;
  width: 50px;
}

.headerIcon {
  cursor: pointer;
  user-select: none;
}

/* ───────────── ASCIINEMA ───────────── */
div.asciinemaPlayer h1 {
  color: antiquewhite;
  font-size: 2em;
  margin-bottom: 1em;

  text-align: center;
}

/* ───────────── LEARN MORE SECTION ───────────── */
.learnMoreSection {
  margin-top: 4em;
  padding-left: 20%;
  padding-right: 15%;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  background-color: #464a57;
  padding-bottom: 4em;
}

.learnMoreSection h2 {
  color: antiquewhite;
  font-size: 2em;
  margin-bottom: 1em;
}

.learnMoreSection p {
  color: antiquewhite;
  font-size: 1.2em;
  margin-bottom: 1em;
  max-width: 70%;
}

.learnMoreSection a {
  color: #aaebd7;
  text-decoration: none;
  font-weight: bold;
}

.learnMoreSection a:hover {
  color: #0f0;
  text-decoration: underline;
}

/* ───────────── FOOTER ───────────── */
footer {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #212224;
  color: antiquewhite;
  padding: 1rem;
  font-size: 0.875rem;
}

footer a {
  color: antiquewhite;
}

/* ───────────── RESPONSIVE ───────────── */

@media (max-width: 1800px) {
  h1.headerSubtitle, .commandImage {
    display: none;
  }
}

@media (max-width: 1024px) {
  div.header {
    background-color: #363840ce;
    backdrop-filter: blur(4px);
    box-shadow: 0px 20px 50px #243035;

    width: 100%;
  }
}

@media (max-width: 840px) {
  div.headerTitle {
    flex-direction: column;
  }

  .headerIcon {
    display: none;
  }
}