.website {
  display: flex;
  flex-direction: row;
  width: 100%;
}

.tutorialTable {
  background-color: #212224;
  color: antiquewhite;
  position: absolute;
  
  margin-top: 5em;
  height: calc(100vh - 5em);

  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
  overflow-y: auto;
  flex-shrink: 0;
}

.tutorialTable.hidden {
  background-color: transparent;
  box-shadow: none;
  overflow: hidden;
  width: auto;
  height: auto;
}

.tutorialTable.hidden > :not(.tutorialTitle) {
  display: none;
}

.sectionHeader, .tutorialTitle {
  padding: 1rem;
  background-color: #2a2c2e;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: background-color 0.2s ease;
}

.sectionHeader h3, .tutorialTitle {
  margin: 0;
  font-size: 1.25rem;
  font-weight: 400;
  color: antiquewhite;
}

.sectionHeader.active {
  background-color: #3a3c3e;
}

.toggle-icon {
  font-size: 1.5rem;
  font-weight: bold;
}

.sectionItems {
  display: flex;
  flex-direction: column;
}

.tutorialItem {
  padding: 0.75rem 2rem;
  font-weight: 100;
  transition: background-color 0.2s ease;
  cursor: pointer;
}

.tutorialItem:hover {
  background-color: rgba(255, 255, 255, 0.1);
}

.tutorialItem:active {
  background-color: rgba(255, 255, 255, 0.2);
}

.sectionItems.hidden {
  display: none;
}

.guide {
  flex: 1;
  min-height: 100vh;
}

.titleSection {
  text-align: center;
  margin-top: 10em;
}

.command_tutorial {
  margin-top: 5em;
  margin-left: 20%;
  margin-right: 20%;
}

section {
  margin-top: 5em;
}

h3.sectionTitle {
  text-align: center;
  
  font-size: 1.25em;
  text-transform: uppercase;
}

th {
  text-align: left;
}

td code {
  white-space: nowrap;
}

div.example {
  margin-top: 5em;
}

@media (min-width: 769px) {
  .tutorialTable {
    max-width: 450px;
    padding-top: 0;
  }
  
  .toggle-icon {
    display: none;
  }

  .tutorialTable.hidden {
    background-color: transparent;
    box-shadow: none;
    overflow: hidden;
    margin-top: 5em;
  }

  .tutorialTable.hidden > :not(.tutorialTitle) {
    display: none;
  }
}

@media (min-width: 1024px) {
  .tutorialTable {
    max-width: 450px;
    position: absolute;
    margin-top: 5em;
  }
}

@media (min-width: 1600px) {
  .guide {
    min-height: 100vh;
  }

  .tutorialTableContainer {
    justify-content: flex-start;
    margin-left: 3em;
  }
  
  .tutorialTable {
    margin-top: 5em;
  }
}