/* ───────────── DESCRIPTION ───────────── */
div.description {
  background-color: #464a57;
  display: flex;
  justify-content: space-between;
  padding: 8em 2% 5em 20%;
  flex-wrap: wrap;
}

div.descriptionText {
  overflow-wrap: break-word;
  text-align: justify;
  flex: 1 1 400px;
  padding-top: 2em;
  margin-right: 2em;
}

div.descriptionImage {
  margin-right: 7%;
}

/* ───────────── WHY TRACKIT SECTION ───────────── */
.whyTrackitSection {
  padding: 4em 10% 4em 20%;
  color: antiquewhite;
}

.whyTrackitReasons {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 2em;
}

.whyTrackitReason {
  max-width: 80%;
  padding-top: 2em;
}

.whyTrackitTitle {
  font-size: 4em;
  max-width: 150%;
  color: #d0fdff;
}

.whyTrackitReason h3 {
  font-size: 2em;
  width: 120%;
  height: min-content;
  margin-bottom: 1em;
}

/* ───────────── RESPONSIVE ───────────── */
@media (max-width: 1800px) {
  div.description {
    padding: 7em 10% 5em;
    flex-direction: column;
    align-items: center;
  }

  div.descriptionText {
    margin-right: 2em;
    padding-left: 0;
    text-align: center;
  }

  .carouselContainer {
    margin: auto;
  }
}

@media (max-width: 1024px) {
  div.description {
    flex-direction: column;
    text-align: center;
    padding-top: 8em;
    padding-bottom: 5em;
  }

  div.descriptionText {
    margin-right: 2em;
  }

  .carouselContainer {
    display: none;
  }

  .whyTrackitSection {
    padding: 4em 5%;
  }

  .whyTrackitReasons {
    grid-template-columns: 1fr;
    padding-left: 3em;
  }
}
